body {
  background-color: rgba(0, 0, 255, 0.57);
}

img {
  width: 100%;
  height: 300px;
}

.container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.h1 {
  font-size: 1.8rem;
}

.map-div {
  width: 400px;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: 1rem;
}

.p {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.385);
  transform: translateY(100%);
  transition: transform 0.7s ease-in-out;
}

.map-div:hover .p {
  transform: translate(0%);
  transition: transform 0.7s ease-in-out;
}

.map-div:hover {
  opacity: 0.8;
}
